
<div class="course-details">
    <div class="row">
        <div class="col-md-9">
            <div class="course-details-header row">
                <h4 class="col-sm-6" >Video Course nr 1</h4>  
                <h5 class="col-sm-3">Time</h5>
                <h5 class="col-sm-3">Date</h5>
            </div>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Placeat sed repellat praesentium non eligendi, amet voluptas, 
                saepe nulla error dolorum, eaque autem deleniti ut harum.
            </p>
        </div>
        <div class="course-details-buttons col-md-3">
            <button class="btn btn-default float-right">Edit course</button>
            <button class="btn btn-default float-right">Delete</button>
            
        </div>
    </div>
    
</div>
