.top-bar{
    margin: 10px 0px;
    padding: 5px 15px;
    font-weight: 700;
    background: grey;
    border: 1px solid black
}

.header{
    margin: 10px 0px;
    padding: 5px 15px;
    background: grey;
    border: 1px solid black
}

.logo{
    width: 50px;
    height: auto;
}

.login-area{
    font-size: 10px;
}
p{
    padding: 0px;
    margin: 0px;
}
.btn{
    margin: 5px;
}


