.header{
    margin: 10px 0px;
    padding: 5px 15px;
    background: grey;
    border: 1px solid black;
    border-radius: 5px;
}

.logo{
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.login-area{
    font-size: 11px;
    font-weight: 700;
    
}
p{
    padding: 0px;
    margin: 0px;
}
.btn{
    margin: 5px;
}


