<div class="top-bar">
    #courses
</div>
<hr>
<div class="header">
    <div class="row">
        <div class="col-sm-2">
            <img src="http://logonoid.com/images/pbs-logo.png"
            alt="company logo of psb"
            class="logo img-responsive">
        </div>
        <div class="col-sm-8">
            <button class="btn btn-default">Courses</button>
        </div>
        <div class="col-sm-2 float-right login-area">
            <p>user login</p>
            <p>logoff</p>
        </div>
        
    </div>

</div>
